title{
    float: center;
}
body{
    padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(228, 224, 224);
    word-wrap: inherit;
}
.research-section{
    text-align: start;
    margin: 30px;
}
.sub-headings{
    font-size: 20px;
    text-transform: uppercase;
    width: 40%;
    color: brown;
   
}
.paragraph{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color: brown;
}
.list-item{
    color: brown;
    font-size: 18px;
}
td, th{
    border: 1px solid #4d4b4b;
    text-align:left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #aca2a2;
}
p{
    line-height: 25px;
    font-size: 15px;
}
a{
    color: blue;
    text-decoration: none;
}
a:hover{
    background: rgb(109, 105, 105);
    /*width: 80%;
    animation: ease-in;
    animation-duration:4s;
    opacity: 1;*/
    padding: 8px 20px;
    border-radius: 7%;
}
td,th{
    border: 1px solid rgb(197, 141, 141);
    text-emphasis: left;
}